/* Pokemon Type Colors */
$type-colors: (
    normal: (main: #A8A878, light: #C6C6A7, text: #212529),
    fire: (main: #F08030, light: #F5AC78, text: #fff),
    water: (main: #6890F0, light: #9DB7F5, text: #fff),
    electric: (main: #F8D030, light: #FAE078, text: #212529),
    grass: (main: #78C850, light: #A7DB8D, text: #fff),
    ice: (main: #98D8D8, light: #BCE6E6, text: #212529),
    fighting: (main: #C03028, light: #D67873, text: #fff),
    poison: (main: #A040A0, light: #C183C1, text: #fff),
    ground: (main: #E0C068, light: #EBD69D, text: #212529),
    flying: (main: #A890F0, light: #C6B7F5, text: #212529),
    psychic: (main: #F85888, light: #FA92B2, text: #fff),
    bug: (main: #A8B820, light: #C6D16E, text: #212529),
    rock: (main: #B8A038, light: #D1C17D, text: #212529),
    ghost: (main: #705898, light: #A292BC, text: #fff),
    dragon: (main: #7038F8, light: #A27DFA, text: #fff),
    steel: (main: #B8B8D0, light: #D1D1E0, text: #212529),
    fairy: (main: #EE99AC, light: #F4BDC9, text: #212529)
);

@each $type, $colors in $type-colors {
    .type-#{$type} {
        --type-main: #{map-get($colors, main)};
        --type-light: #{map-get($colors, light)};
        --type-text: #{map-get($colors, text)};
        --type-dark: #{darken(map-get($colors, main), 20%)};

        /* Helper for text color usage if needed, though variable is usually enough */
        color: var(--type-text);
    }
}